#word-container {
    font-size: 150px;
    text-align: center;
}
#guess-box {
    text-align: center;
    margin-top: 0px;
}
#correct-words {

}
#in-game-screen {
    display: none;
}
#start-screen {

}
#points {
    font-weight: bold;
    margin: 10px 0;
}
h5 {
    margin-top:23px;
}
#advanced-tips {
    display: none;
}
#reset-screen {
    display: none;
    text-align: center;
    padding: 100px;
}
#reset-btn {

}
#game-start, #btn-scared {

}
#new-word-clock {
    margin-top: 40px;
    margin-bottom: -20px;
}
#success-stamp {
    margin-left: 10px;
    display: none;
}
#guess-input-wrap {
    margin-left: 0px;
}
#fb-like {
    display: block;
    margin-left: 200px;
}
#progressbar {
    background-color: #00b800;
    height: 4px;
    margin-bottom: 10px;
    font-size: 5px;
    margin-left: auto;
    margin-right: auto;
}